################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PresentationLayer/.vs/PresentationLayer/FileContentIndex/14f0c340-9e01-4500-bc67-09216a9f6b29.vsidx
/PresentationLayer/.vs/PresentationLayer/FileContentIndex/56625dc4-79ec-49a9-9624-8031982fbd01.vsidx
/PresentationLayer/.vs/PresentationLayer/FileContentIndex/81009e6c-73b9-4095-9b5f-cc88674cfa12.vsidx
/PresentationLayer/.vs/PresentationLayer/FileContentIndex/849abf43-0c74-4498-bb2b-3ed14897538e.vsidx
/PresentationLayer/.vs/PresentationLayer/FileContentIndex/c62c0c22-aa90-4365-9abb-dbd16c33c178.vsidx
